version: '3.8'  

services:  
  postgres:  
    image: postgres:15
    container_name: HealthCareAB
    
    environment: 
      POSTGRES_USER: ${DB_USER:-postgres} 
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}  
      POSTGRES_DB: ${DB_NAME:-HCAB01}  
    
    ports:
      - "5432:5432"  
    
    volumes:
      - postgres_data:/var/lib/postgresql/data 
    healthcheck:  
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s  
    
    restart: unless-stopped  

volumes:
  postgres_data:  
